extends layout 

block content 

    if currentUser

        h1 #{title}: #{member.username}
        if currentUser.id==member.id || currentUser.admin
            a(href=member.url + '/update') Update

        p Name: #{member.full_name}

        h4 Posts: 

        if currentUser.id == member.id 
            a(href='/messages/create') New Post

        if member_posts.length > 0
            ul 
                each post in member_posts
                    li
                        div.time= post.timestamp_formatted
                        div.text= post.text 

        else 
            p This member hasn't posted anything yet.

    else 
        h1 Outcast 
        p Only members can view this page