extends layout 

block content 

    if currentUser

        .memberDetail

            .memberHeader
                h1 #{title}: #{member.username}
                if currentUser.id==member.id || currentUser.admin
                    a(href=member.url + '/update').btn Update

            h3 Name: #{member.full_name}

            if currentUser.id == member.id 
                a(href='/messages/create').btn New Post

            h3 Posts: 

            if member_posts.length > 0
                ul.messages 
                    each post in member_posts
                        li.message
                            div.time= post.timestamp_formatted
                            div.text= post.text 

            else 
                p This member hasn't posted anything yet.

    else 
        h1 Outcast 
        p Only members can view this page