extends layout 

block content

    if worthy || currentUser

        h1 #{title}

        form(action=actionUrl, method='POST')
            .form-control
                label(for='first_name') First Name:
                input(name='first_name' placeholder='First Name' type='text' value=(user===undefined ? '' : user.first_name))
            .form-control
                label(for='last_name') Last Name:
                input(name='last_name' placeholder='Last Name' type='text' value=(user===undefined ? '' : user.last_name))
            .form-control
                label(for='username') Username:
                input(name='username' placeholder='username' type='text' value=(user===undefined ? '' : user.username))
            .form-control
                label(for='password') Password:
                input(name='password' type='password')
            .form-control
                label(for='passwordConfirm') Confirm Password:
                input(name='passwordConfirm' type='password')
            if user
                if user.admin==true 
                    .form-checkbox
                        label(form='admin') Admin 
                        input(type='checkbox' name='admin' checked=(user===indefined ? false : user.admin))
            button(type='submit').submit #{title}

        if errors 
            ul 
            each error in errors 
                li= error.msg
        if error 
            p= error

    else 
        h1 Outcast 
        p You are not worthy enough to become a member.